#Data Structures

In simple terms, It is the the collection or group of data in a particular structure.

##Lists

Lists are the most commonly used data structure. Think of it as a sequence of data that is enclosed in square brackets and data are separated by a comma. Each of these data can be accessed by calling it's index value.

Lists are declared by just equating a variable to '[ ]' or list.Fir example a = []

In [1]:
a = []

In [2]:
print (type(a))

<class 'list'>

One can directly assign the sequence of data to a list x as shown.

In [4]:
x = ['apple', 'orange']

In [5]:
print(x)

['apple', 'orange']

### Indexing

In python, Indexing starts from 0. Thus now the list x, which has two elements will have apple at 0 index and orange at 1 index.

In [6]:
x[0]

'apple'

Indexing can also be done in reverse order. That is the last element can be accessed first. Here, indexing starts from -1. Thus index value -1 will be orange and index -2 will be apple.

In [12]:
x[-1]

'orange'

In [14]:
x[-2]== x[]

True

As you might have already guessed, x[0] = x[-2], x[1] = x[-1]. This concept can be extended towards lists with more many elements.

In [15]:
y = ['carrot','potato']

In [16]:
print(y)

['carrot', 'potato']

Here we have declared two lists x and y each containing its own data. Now, these two lists can again be put into another list say z which will have it's data as two lists. This list inside a list is called as nested lists and is how an array would be declared which we will see later.

In [17]:
z  = [x,y]
print (z)

[['apple', 'orange'], ['carrot', 'potato']]

Indexing in nested lists can be quite confusing if you do not understand how indexing works in python. So let us break it down and then arrive at a conclusion.

Let us access the data 'apple' in the above nested list.
First, at index 0 there is a list ['apple','orange'] and at index 1 there is another list ['carrot','potato']. Hence z[0] should give us the first list which contains 'apple'.

In [21]:
print (z[1])

['carrot', 'potato']

Now observe that z1 is not at all a nested list thus to access 'apple', z1 should be indexed at 0.

In [25]:
z1= z[0]
z1[1]

'orange'

Instead of doing the above, In python, you can access 'apple' by just writing the index values each time side by side.

In [27]:
z[0][1]

'orange'

If there was a list inside a list inside a list then you can access the innermost value by executing z[ ][ ][ ].

### Slicing

Indexing was only limited to accessing a single element, Slicing on the other hand is accessing a sequence of data inside the list. In other words "slicing" the list.

Slicing is done by defining the index values of the first element and the last element from the parent list that is required in the sliced list. It is written as parentlist[ a : b ] where a,b are the index values from the parent list. a starts from 0 and b excludes the last element; e.g., 0:4 are 5 elements includidng 0 but it would print 0,1,2,3 exclude the last one.

In [28]:
num = [0,1,2,3,4,5,6,7,8,9]

In [30]:
print (num[0:4])
print (num[4:6])
print (num[4:])
print (num[:8])

[0, 1, 2, 3]
[4, 5]
[4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7]

You can also slice a parent list with a fixed length or step length. Here the step is 2 which means increment 2 indexes every time till the 9th index.

In [31]:
num[0:9:2]

[0, 2, 4, 6, 8]

###Built in List Functions

To find the length of the list or the number of elements in a list, **len( )** is used.

In [14]:
len(num)

10

If the list consists of all integer elements then **min( )** and **max( )** gives the minimum and maximum value in the list.

In [15]:
min(num)

0

In [16]:
max(num)

9

Lists can be concatenated by adding, '+' them. The resultant list will contain all the elements of the lists that were added. The resultant list will not be a nested list.

In [17]:
[1,2,3] + [5,4,7]

[1, 2, 3, 5, 4, 7]

There might arise a requirement where you might need to check if a particular element is there in a predefined list. Consider the below list.

In [35]:
names = ['Earth','Air','Fire','Water']

To check if 'Fire' and 'Rajath' is present in the list names. A conventional approach would be to use a for loop and iterate over the list and use the if condition. But in python you can use 'a in b' concept which would return 'True' if a is present in b and 'False' if not.

In [36]:
'Fire' in names

True

In [37]:
'Rajath' in names

False

In [38]:
if 'Fire' in names:
  print("Yes, 'Fire' is in the names list")

Yes, 'Fire' is in the names list

In a list with elements as string, **max( )** and **min( )** is applicable. **max( )** would return a string element whose ASCII value is the highest and the lowest when **min( )** is used. Note that only the first index of each element is considered each time and if they value is the same then second index considered so on and so forth.

In [21]:
mlist = ['bzaa','ds','nc','az','z','klm']

In [22]:
print (max(mlist))
print (min(mlist))

z
az

Here the first index of each element is considered and thus z has the highest ASCII value thus it is returned and minimum ASCII is a. But what if numbers are declared as strings?
Correct min and amx values for numbers are always obtained when numbers are not stored as strings

In [23]:
nlist = ['1','94','93','1000'] #considered as a string 
mlist = [1,94,93,1000]

In [24]:
print (max(nlist))
print (min(nlist))
print (max(mlist))
print (min(mlist))

94
1
1000
1

Even if the numbers are declared in a string the first index of each element is considered and the maximum and minimum values are returned accordingly.

But if you want to find the **max( )** string element based on the length of the string then another parameter 'key=len' is declared inside the **max( )** and **min( )** function.

In [39]:
print (max(names, key=len))
print (min(names, key=len))

Earth
Air

But even 'Water' has length 5. **max()** or **min()** function returns the first element when there are two or more elements with the same length.

Any other built in function can be used or lambda function (will be discussed later) in place of len.

A string can be converted into a list by using the **list()** function.

In [40]:
list('hello')

['h', 'e', 'l', 'l', 'o']

**append( )** is used to add a element at the end of the list.

In [55]:
lst = [1,1,4,8,7]

In [56]:
lst.append(1)
print (lst)

[1, 1, 4, 8, 7, 1]

**count( )** is used to count the number of a particular element that is present in the list.

In [57]:
print(lst.count(1))
lst.count((2))

3

0

**append( )** function can also be used to add a entire list at the end. Observe that the resultant list becomes a nested list.

In [58]:
lst1 = [5,4,2,8]

In [59]:
lst.append(lst1)
print (lst)

[1, 1, 4, 8, 7, 1, [5, 4, 2, 8]]

**insert( )** :To add an item at the specified index, use the insert() method

In [60]:
lst.insert(0,99)
lst

[99, 1, 1, 4, 8, 7, 1, [5, 4, 2, 8]]


### Copying a list

In [81]:
lista= ["apple", "banana", "cherry"]

In [82]:
listb = lista
print (listb)

['apple', 'banana', 'cherry']

In [83]:
listc= lista.copy()
listc

['apple', 'banana', 'cherry']

Here, We have declared a list, lista = [2,1,4,3]. This list is copied to listb by assigning it's value and it get's copied as seen. Now we perform some random operations on lista.Pop function below removes the last element from the list

In [73]:
lista.pop()
print (lista)
lista.append("orange")
print (lista)
lista.remove("banana")
print(lista)

['apple', 'banana']
['apple', 'banana', 'orange']
['apple', 'orange']

In [74]:
print (listb)

['apple', 'orange']

listb has also changed though no operation has been performed on it. This is because you have assigned the same memory space of lista to listb. So how do fix this?

If you recall, in slicing we had seen that parentlist[a:b] returns a list from parent list with start index a and end index b and if a and b is not mentioned then by default it considers the first and last element. We use the same concept here. By doing so, we are assigning the data of lista to listb as a variable.

In [75]:
lista = ["apple", "banana", "cherry"]

In [76]:
listb = lista[:]
print (listb)

['apple', 'banana', 'cherry']

In [77]:
lista.pop()
print (lista)
lista.append("orange")
print (lista)
lista.remove("banana")
print(lista)

['apple', 'banana']
['apple', 'banana', 'orange']
['apple', 'orange']

In [78]:
print (listb)

['apple', 'banana', 'cherry']

##Tuples: A tuple is a collection which is ordered and unchangeable. In Python tuples are written with round brackets.

Tuples are similar to lists but only big difference is the elements inside a list can be changed but in tuple it cannot be changed. Think of tuples as something which has to be True for a particular something and cannot be True for no other values.

In [85]:
xyz = divmod(10,4)
print (xyz)
print (type(xyz))

(2, 2)
<class 'tuple'>

#### Here the quotient has to be 2 and the remainder has to be 2. These values cannot be changed whatsoever when 10 is divided by 4. Hence divmod returns these values in a tuple.

To define a tuple, A variable is assigned to paranthesis ( ) or tuple( ).

In [89]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)
print(thistuple[-1])

('apple', 'banana', 'cherry')
cherry

Values can be assigned while declaring a tuple. It takes a list as input and converts it into a tuple or it takes a string and converts it into a tuple.

In [97]:
tup3 = tuple([1, 3, 7, 8, 7, 5, 4, 6, 8, 5])
print (tup3)
tup4 = tuple('Hello')
print (tup4)

(1, 3, 7, 8, 7, 5, 4, 6, 8, 5)
('H', 'e', 'l', 'l', 'o')

It follows the same indexing and slicing as Lists.

In [98]:
print (tup3[1])
tup5 = tup4[:3]
print (tup5)

3
('H', 'e', 'l')

In [102]:
tup3.count(8)

2

In [101]:
tup3.index(4)

6

##Sets

Sets are mainly used to eliminate repeated numbers in a sequence/list. It is also used to perform some standard set operations.

Sets are declared as set() which will initialize a empty set. Also set([sequence]) can be executed to declare a set with elements

In [103]:
set0 = set([1,2,2,3,3,4])
print (set0)

{1, 2, 3, 4}

elements 2,3 which are repeated twice are seen only once. Thus in a set each element is distinct.

Loop through the set, and print the values:

In [109]:
seta = {"apple", "banana", "cherry"}

for x in seta:
  print(x)

apple
banana
cherry

#### **Add** an item to a set, using the add() method:

In [106]:
seta.add("orange")
print(seta)
print(len(seta))

{'orange', 'apple', 'banana', 'cherry'}
4

#### To remove an item in a set, use the remove(), or the discard() method. 
Note: If the item to remove does not exist, discard() will NOT raise an error.

In [110]:
seta.remove("banana")
print(seta)
print(len(seta))
seta.discard("apple")
print(seta)
print(len(seta))

{'apple', 'cherry'}
2
{'cherry'}
1

#### The union() method returns a new set with all items from both sets:
#### The update() method inserts the items in set2 into set1:
Note: Both union() and update() will exclude any duplicate items.

In [111]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 'a', 3, 'c', 'b'}

In [112]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 'a', 3, 'c', 'b'}